################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/package-lock.json
*/debug.log
*.vs/*

*.jfm
*.dbmdl
bin/
obj/
Debug/
Release/