<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/ce3ee361-c372-4eb7-8c67-029cd8df70c3/resourceGroups/DayCare_group/providers/Microsoft.ContainerRegistry/registries/DayCareDal20250207121629</ResourceId>
    <ResourceName>DayCareDal20250207121629</ResourceName>
    <ResourceGroup>DayCare_group</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>daycaredal20250207121629.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>